@page "/"

@using Blazor.Data;
@inject ApiService postService

@using shared.Model;


@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h2><b>All posts</b></h2>
<h5>Welcome to PostIT</h5>
<h6>Notes about this app:</h6>
<ul>
    <li>You need to reload browser to reload data.</li>
    <li>You can create comments in the buttom of each individual post</li>
   
</ul>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var item in posts)
    {

        <div class="card">
            <div class="card-header">
                <h5><b>Title: </b><b class="card-title"> @item.Title </b></h5>
            </div>
            <div class="card-body">
                <p class="card-text"><b>Author: </b>@item.Author</p>
                <p class="card-text"><b>Content: </b>@item.Content</p>
                <p class="card-text"><b>Upvotes: </b>@item.Upvotes</p>
                <p class="card-text"><b>Downvotes: </b>@item.Downvotes</p>
                <button class="btn btn-primary" @onclick="() =>Upvote(item.PostId)">Upvote</button>
                <button class="btn btn-primary" @onclick="() =>Downvote(item.PostId)">Downvote</button>
                <a href="/api/posts/@item.PostId"> <button class="btn btn-primary"> See post </button</a>
            
            </div>
        </div>
    }
}
@code {

    private Post[] posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await postService.GetPostData();
    }


    public void Upvote(int id)
    {
        postService.UpvotePost(id);
    }

    public void Downvote(int id)
    {
        postService.DownvotePost(id);
    }
}
